<!DOCTYPE html>
<html>
    <head>
        <title>Analysis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body style="background-color: rgb(255, 180, 95);">
        <!-- Nav bar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a style="color:rgb(100, 99, 99)" href="../index.html"><h1>Project Overview</h1></a>
            <ul class="navbar-nav">
                <li class="nav-item"> <a class="nav-link" href="analysis.html">Analysis</a> </li>
                <li class="nav-item"> <a class="nav-link" href="tables.html">Data Tables</a> </li>           
            </ul>      
        </nav>
        <!-- main page -->
        <h2 style="text-align: center;">London Travel</h2>
        <section class="container-fluid" style="background-color: grey;">
            <br>
            <h6 style="text-align: center;">-- Click an image to jump to the description --</h6>
            <div class="container-fluid text-align:center">
                <div class="row justify-content-md-center">
                    <div class="col-expand-sm-6">
                        <a href="#image_1"> <img id="plots" src="../images/reason_length_il.png" alt="data_chart_1" style="width: 375px; height: 350px;">  </a>
                        <a href="#image_2"> <img id="plots" src="../images/reason_length_ll.png" alt="data_chart_2" style="width: 375px; height: 350px;"> </a>
                    </div>
                </div>
                <br>
                <div class="row justify-content-md-center">
                    <div class="col-expand-sm-6">
                        <a href="#image_3"> <img id="plots" src="../images/pop_travel_il.png" alt="data_chart_3" style="width: 375px; height: 350px;"> </a>
                        <a href="#image_4"> <img id="plots" src="../images/pop_travel_ll.png" alt="data_chart_4" style="width: 375px; height: 350px;"> </a>
                    </div>
                </div>
            </div>
            <br>
            <hr style="border-color: rgb(255, 180, 95);">
            <br>
            <div style="text-align: center;">
                <h3>International London: Reason For Travel VS Length of Stay</h3>
                <a id="image_1"> <img src="../images/reason_length_il.png" alt="data_chart_1"> </a>
                <p>
                    This plot is based on the data from the “International London: Reason For Travel VS Length of Stay” Table. On the X-axis, the reason for travel is paired with the number of nights spent in London. A simple glance of this graph shows us that the most popular reason to travel to London is for holiday/vacation, and the most popular trip length for a holiday/vacation is 4-7 nights. Alternatively, the least popular reason to travel to London is to study, and the least popular trip duration for studying is 1-3 days.
                </p>
                <p> -- Side note: VFR stands for visiting friends and/or relatives. --</p>
                <hr style="border-color: rgb(255, 180, 95);">
                <br>
                <h3>Local London: Reason For Travel VS Length of Stay</h3>
                <a id="image_2"> <img src="../images/reason_length_ll.png" alt="data_chart_2"> </a>
                <p>
                    This plot is based on the “Local London: Reason For Travel VS Length of Stay” Table. It is similarly styled to the plot above it as to compare the two, however, this did not turn out how I would have liked it too. Due to the way this data was formatted, and it’s bias towards business, it makes it difficult to compare. Taking a look at the data, the most popular reason for the trip to London was member portfolio/council business, and the most popular duration was 0.0, most likely just one afternoon.                
                </p>
                <hr style="border-color: rgb(255, 180, 95);">
                <br>
                <h3>Popular Mode of Travel (international)</h3>
                <a id="image_3"> <img src="../images/pop_travel_il.png" alt="data_chart_3"> </a>
                <p>
                    The key to these next two plots is this question: What is the most popular form of travel from the data sets? When it comes to international travel, the most popular way to get to London is to fly in. This should not be all too surprising since the UK is water locked, and traveling by sea is no longer the fastest or most convenient mode of travel.                
                </p>
                <hr style="border-color: rgb(255, 180, 95);">
                <br>
                <h3>Popular Mode of Travel (Local)</h3>
                <a id="image_4"> <img src="../images/pop_travel_ll.png" alt="data_chart_4"> </a>
                <p>
                    As stated in the plot above, this plot is based on a question: What is the most popular form of travel from the data sets? When it comes to local travel, it appears London is all about traveling by tunnel, or train. Taking a moment to look back at the previous plot, this both makes sense considering the second most popular mode of travel was tunnel, but also because flying into London makes no sense when you could buy the cheaper train tickets. Not to mention it isn’t all too practical to ferry into London. 
                </p>
                <br>
            </div>
        </section>
        <!-- footer -->
        <footer>
            <hr>
            <a href="https://github.com/L0rd-Z-19" style="color: bisque;">My Github |</a>
            <a href="https://www.linkedin.com/in/zachary-wilson-40146317a/" style="color: bisque;">My linkedin </a>
            <hr>
        </footer>
        </div>
    </body>
</html>