<!DOCTYPE html>
<html>
    <head>
        <title>Data Tables</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body style="background-color: rgb(224, 224, 224);">
        <!-- Nav bar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a style="color:rgb(100, 99, 99)" href="../index.html"><h1>Project Overview</h1></a>
            <ul class="navbar-nav">
              <li class="nav-item"> <a class="nav-link" href="analysis.html">Analysis</a> </li>
              <li class="nav-item"> <a class="nav-link" href="tables.html">Data Tables</a> </li>    
            </ul>      
        </nav>
        <!-- main page -->
        <section class="container-fluid" style="text-align: center; background-color: rgb(255, 255, 255);">
            <h2>Data Used In London Travel</h2>
            <hr>
            <h3>Links to the Source Data</h5>
            <h6><a href="https://data.london.gov.uk/dataset/number-international-visitors-london">International London |</a> <a href="https://ckan.publishing.service.gov.uk/dataset/councillor-travel-and-accommodation-expenses">Local London</a></h6>
            <hr>
            <br>
            <h3>International London Table</h5>
            <h5>(First 25)</h5>
            <table class="table table-striped">
                <tr>
                  <th>index</th>
                  <th>trip_length</th>
                  <th>travel_type</th>
                  <th>reason_for_travel</th>
                </tr>
                <tr valign="top">
                  <td>0</td>
                  <td>1-3  nights</td>
                  <td>Air</td>
                  <td>Holiday</td>
                </tr>
                <tr valign="top">
                  <td>1</td>
                  <td>1-3  nights</td>
                  <td>Air</td>
                  <td>Business</td>
                </tr>
                <tr valign="top">
                  <td>2</td>
                  <td>1-3  nights</td>
                  <td>Air</td>
                  <td>Miscellaneous</td>
                </tr>
                <tr valign="top">
                  <td>3</td>
                  <td>1-3  nights</td>
                  <td>Sea</td>
                  <td>Holiday</td>
                </tr>
                <tr valign="top">
                  <td>4</td>
                  <td>1-3  nights</td>
                  <td>Sea</td>
                  <td>Business</td>
                </tr>
                <tr valign="top">
                  <td>5</td>
                  <td>1-3  nights</td>
                  <td>Sea</td>
                  <td>VFR</td>
                </tr>
                <tr valign="top">
                  <td>6</td>
                  <td>1-3  nights</td>
                  <td>Tunnel</td>
                  <td>Holiday</td>
                </tr>
                <tr valign="top">
                  <td>7</td>
                  <td>1-3  nights</td>
                  <td>Tunnel</td>
                  <td>Business</td>
                </tr>
                <tr valign="top">
                  <td>8</td>
                  <td>1-3  nights</td>
                  <td>Tunnel</td>
                  <td>VFR</td>
                </tr>
                <tr valign="top">
                  <td>9</td>
                  <td>1-3  nights</td>
                  <td>Tunnel</td>
                  <td>Study</td>
                </tr>
                <tr valign="top">
                  <td>10</td>
                  <td>1-3  nights</td>
                  <td>Tunnel</td>
                  <td>Miscellaneous</td>
                </tr>
                <tr valign="top">
                  <td>11</td>
                  <td>4-7  nights</td>
                  <td>Sea</td>
                  <td>Holiday</td>
                </tr>
                <tr valign="top">
                  <td>12</td>
                  <td>4-7  nights</td>
                  <td>Sea</td>
                  <td>VFR</td>
                </tr>
                <tr valign="top">
                  <td>13</td>
                  <td>4-7  nights</td>
                  <td>Tunnel</td>
                  <td>Holiday</td>
                </tr>
                <tr valign="top">
                  <td>14</td>
                  <td>4-7  nights</td>
                  <td>Tunnel</td>
                  <td>Business</td>
                </tr>
                <tr valign="top">
                  <td>15</td>
                  <td>4-7  nights</td>
                  <td>Tunnel</td>
                  <td>VFR</td>
                </tr>
                <tr valign="top">
                  <td>16</td>
                  <td>8-14 nights</td>
                  <td>Air</td>
                  <td>VFR</td>
                </tr>
                <tr valign="top">
                  <td>17</td>
                  <td>15+  nights</td>
                  <td>Air</td>
                  <td>Study</td>
                </tr>
                <tr valign="top">
                  <td>18</td>
                  <td>1-3  nights</td>
                  <td>Air</td>
                  <td>Holiday</td>
                </tr>
                <tr valign="top">
                  <td>19</td>
                  <td>1-3  nights</td>
                  <td>Air</td>
                  <td>Business</td>
                </tr>
                <tr valign="top">
                  <td>20</td>
                  <td>1-3  nights</td>
                  <td>Air</td>
                  <td>VFR</td>
                </tr>
                <tr valign="top">
                  <td>21</td>
                  <td>4-7  nights</td>
                  <td>Air</td>
                  <td>Holiday</td>
                </tr>
                <tr valign="top">
                  <td>22</td>
                  <td>4-7  nights</td>
                  <td>Air</td>
                  <td>VFR</td>
                </tr>
                <tr valign="top">
                  <td>23</td>
                  <td>1-3  nights</td>
                  <td>Air</td>
                  <td>Holiday</td>
                </tr>
                <tr valign="top">
                  <td>24</td>
                  <td>1-3  nights</td>
                  <td>Air</td>
                  <td>Business</td>
                </tr>
              </table>

              <br>
              <h3>Local London Table</h5>
              <h5>(First 25)</h5>
              <table class="table table-striped">
                <tr>
                  <th>index</th>
                  <th>travel_type</th>
                  <th>trip_length</th>
                  <th>reason_for_travel</th>
                </tr>
                <tr valign="top">
                  <td>0</td>
                  <td>Flight</td>
                  <td>1</td>
                  <td>Meeting with other public sector organisations</td>
                </tr>
                <tr valign="top">
                  <td>1</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>2</td>
                  <td>Train</td>
                  <td>1</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>3</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>4</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>5</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>6</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>7</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>8</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>9</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>10</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>11</td>
                  <td>Train</td>
                  <td>1</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>12</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>13</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>14</td>
                  <td>Train</td>
                  <td>1</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>15</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>16</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>17</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>18</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>19</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>20</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>21</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>22</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>23</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
                <tr valign="top">
                  <td>24</td>
                  <td>Train</td>
                  <td>0</td>
                  <td>Member portfolio/Council business (Elected Members only)</td>
                </tr>
              </table>

              <br>
              <h3>International London VS Reason For Travel</h5>
              <table class="table table-striped">
                <tr>
                  <th>reason_for_travel</th>
                  <th>count</th>
                  <th>trip_length</th>
                </tr>
                <tr valign="top">
                  <td>VFR</td>
                  <td>520</td>
                  <td>4-7  nights</td>
                </tr>
                <tr valign="top">
                  <td>VFR</td>
                  <td>432</td>
                  <td>8-14 nights</td>
                </tr>
                <tr valign="top">
                  <td>VFR</td>
                  <td>444</td>
                  <td>1-3  nights</td>
                </tr>
                <tr valign="top">
                  <td>VFR</td>
                  <td>386</td>
                  <td>15+  nights</td>
                </tr>
                <tr valign="top">
                  <td>Study</td>
                  <td>28</td>
                  <td>4-7  nights</td>
                </tr>
                <tr valign="top">
                  <td>Study</td>
                  <td>43</td>
                  <td>8-14 nights</td>
                </tr>
                <tr valign="top">
                  <td>Study</td>
                  <td>16</td>
                  <td>1-3  nights</td>
                </tr>
                <tr valign="top">
                  <td>Study</td>
                  <td>99</td>
                  <td>15+  nights</td>
                </tr>
                <tr valign="top">
                  <td>Miscellaneous</td>
                  <td>380</td>
                  <td>1-3  nights</td>
                </tr>
                <tr valign="top">
                  <td>Miscellaneous</td>
                  <td>81</td>
                  <td>8-14 nights</td>
                </tr>
                <tr valign="top">
                  <td>Miscellaneous</td>
                  <td>156</td>
                  <td>4-7  nights</td>
                </tr>
                <tr valign="top">
                  <td>Miscellaneous</td>
                  <td>92</td>
                  <td>15+  nights</td>
                </tr>
                <tr valign="top">
                  <td>Holiday</td>
                  <td>487</td>
                  <td>8-14 nights</td>
                </tr>
                <tr valign="top">
                  <td>Holiday</td>
                  <td>657</td>
                  <td>1-3  nights</td>
                </tr>
                <tr valign="top">
                  <td>Holiday</td>
                  <td>313</td>
                  <td>15+  nights</td>
                </tr>
                <tr valign="top">
                  <td>Holiday</td>
                  <td>678</td>
                  <td>4-7  nights</td>
                </tr>
                <tr valign="top">
                  <td>Business</td>
                  <td>579</td>
                  <td>1-3  nights</td>
                </tr>
                <tr valign="top">
                  <td>Business</td>
                  <td>239</td>
                  <td>8-14 nights</td>
                </tr>
                <tr valign="top">
                  <td>Business</td>
                  <td>145</td>
                  <td>15+  nights</td>
                </tr>
                <tr valign="top">
                  <td>Business</td>
                  <td>470</td>
                  <td>4-7  nights</td>
                </tr>
              </table>

              <br>
              <h3>Local London VS Reason For Travel</h5>
              <table class="table table-striped">
                <thead>
                  <tr style="text-align: center;">
                    <th>reason_for_travel</th>
                    <th>count</th>
                    <th>trip_length</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Other</td>
                    <td>2</td>
                    <td>0.0</td>
                  </tr>
                  <tr>
                    <td>Member portfolio/Council business (Elected Members only)</td>
                    <td>1</td>
                    <td>2.0</td>
                  </tr>
                  <tr>
                    <td>Member portfolio/Council business (Elected Members only)</td>
                    <td>9</td>
                    <td>NaN</td>
                  </tr>
                  <tr>
                    <td>Member portfolio/Council business (Elected Members only)</td>
                    <td>101</td>
                    <td>0.0</td>
                  </tr>
                  <tr>
                    <td>Member portfolio/Council business (Elected Members only)</td>
                    <td>13</td>
                    <td>1.0</td>
                  </tr>
                  <tr>
                    <td>Meeting with other public sector organisations</td>
                    <td>22</td>
                    <td>0.0</td>
                  </tr>
                  <tr>
                    <td>Meeting with other public sector organisations</td>
                    <td>3</td>
                    <td>1.0</td>
                  </tr>
                  <tr>
                    <td>Meeting with other external bodies</td>
                    <td>17</td>
                    <td>0.0</td>
                  </tr>
                  <tr>
                    <td>LCC hosted event  Externally funded</td>
                    <td>2</td>
                    <td>0.0</td>
                  </tr>
                  <tr>
                    <td>Conference - as an exhibitor/presenter</td>
                    <td>1</td>
                    <td>0.0</td>
                  </tr>
                  <tr>
                    <td>Conference - as an exhibitor/presenter</td>
                    <td>1</td>
                    <td>2.0</td>
                  </tr>
                  <tr>
                    <td>Conference - as an attendee</td>
                    <td>1</td>
                    <td>1.0</td>
                  </tr>
                  <tr>
                    <td>Conference - as an attendee</td>
                    <td>33</td>
                    <td>0.0</td>
                  </tr>
                  <tr>
                    <td>Conference - as an attendee</td>
                    <td>8</td>
                    <td>NaN</td>
                  </tr>
                </tbody>
              </table>

              <br>
              <h3>Popular Travel (international)</h5>
              <table class="table table-striped">
                <thead>
                  <tr style="text-align: center;">
                    <th>travel_type</th>
                    <th>count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Tunnel</td>
                    <td>774</td>
                  </tr>
                  <tr>
                    <td>Sea</td>
                    <td>622</td>
                  </tr>
                  <tr>
                    <td>Air</td>
                    <td>4849</td>
                  </tr>
                </tbody>
              </table>

              <br>
              <h3>Popular Travel (local)</h5>
              <table class="table table-striped">
                <thead>
                  <tr style="text-align: center;">
                    <th>travel_type</th>
                    <th>count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Train</td>
                    <td>210</td>
                  </tr>
                  <tr>
                    <td>Flight</td>
                    <td>4</td>
                  </tr>
                </tbody>
              </table>
        </section>

        <!-- footer -->
        <footer>
                <hr>
                <a href="https://github.com/L0rd-Z-19" style="color: rgb(0, 0, 0);">My Github |</a>
                <a href="https://www.linkedin.com/in/zachary-wilson-40146317a/" style="color: rgb(0, 0, 0);">My linkedin </a>
                <hr>
        </footer>
    </body>
</html>